.bodylogin{
	font-family: Arial, Helvetica, sans-serif; 
	color: #665544; 
	border: 2px solid #e7642c; 
	padding: 20px;
}

#boton {
	width: 110;
	height: 30;
    background: #e7642c;
    color: white;
	padding: 6px;
	font-size: 14;
	font-weight: bold;
}

#boton:hover {
    background-color: #FFF;
	color: #F2A558;
	font-size: 14;
	font-weight: bold;
}

.buttoncenter {
    text-align: center;
}

.contpie {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}

fieldset { 
	border: 2px solid #e7642c; 
	padding: 10px; 
	line-height: 2em;
	border-radius: 15px;
}

footer {
	background:#e7642c ;  
	height: 70px;
	color: white;
	border-radius: 10px;
}

.ingresologin {
    width: 500px;
    text-align: center ;
    margin-left: auto;
	margin-right: auto;
}

input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #777;
	border-radius: 6px;
	padding: 0px 4px 0px 4px;
	margin: 1px 0px 1px 0px;
	vertical-align: bottom;
}

.margenlogin {
	margin-left: auto;
	margin-right: auto;
    display: block;
    width: 1000px;
}

.pnegrilla {
    font-weight: bold;
}

.span1 {
	color: rgb(0, 64, 0);
	font-size: 17px;
	font-weight: bold;
	text-decoration: underline;
}
.span2 {
	color: rgb(0,157, 0);
	font-size: 17px;
	font-weight: bold;
	text-decoration: underline;
}
.span3 {
	color: rgb(0, 255, 64);
	font-size: 17px;
	font-weight: bold;
	text-decoration: underline;
}

.span4 {
    font-family: Arial, Helvetica, sans-serif; 
    color: #665544; 
}

table {
    border: 0px;
}

.tituloproyecto {
    text-decoration: underline;
    text-align: center;
}
